.div1 {
    background-image: url("https://salamuzik.com/cdn/shop/files/DALL_E_2024-02-23_22.05.30_-_A_vibrant_and_detailed_image_showcasing_a_collection_of_ethnic_Turkish_Iranian_and_Arab_musical_instruments._The_scene_is_set_in_a_traditional_music.webp?v=1708754822&width=2400");
    height: 400px;
    background-size: cover;
}